<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
    <compilation debug="false" />
    <authentication mode="Forms">
      <forms>
        <credentials passwordFormat="Clear">
          <user name="username" password="password" />
        </credentials>
      </forms>
    </authentication>
    <!-- Unless specified in a sub-folder's Web.config file,
       any user can access any resource in the site -->
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>

  <system.webServer>

    <modules>
      <remove name="FormsAuthenticationModule" />
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule" />

      <remove name="UrlAuthorization" />
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
    </modules>

    <rewrite>
      <rules>
      <rule name="Redirect index.html">
                           <match url="^index\.html$" />
                           <action type="Redirect" url="/" redirectType="Permanent" />
                          </rule>
         <rule name="Redirect2 index.html">
                                                             <match url="^(.*)/index\.html$" />
                                                             <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                                                            </rule>



      <rule name="WordPress: http://splashdev.azurewebsites.net" patternSyntax="Wildcard">
        <match url="*"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
        <action type="Rewrite" url="index.php"/>
      </rule>
  </rules>
    </rewrite>
  </system.webServer>
</configuration>
