<?xml version="1.0" encoding="UTF-8"?>
<configuration>


  <system.web>
    <authentication mode="Forms" />
    <membership defaultProvider="AspNetReadOnlyXmlMembershipProvider">
      <providers>
        <add name="AspNetReadOnlyXmlMembershipProvider" type="ReadOnlyXmlMembershipProvider" description="Read-only XML membership provider" xmlFileName="~/App_Data/Users.xml" />
      </providers>
    </membership>
  </system.web>

  <system.webServer>
    <rewrite>
      <rules>
      <rule name="Redirect index.html">
                           <match url="^index\.html$" />
                           <action type="Redirect" url="/" redirectType="Permanent" />
                          </rule>
         <rule name="Redirect2 index.html">
                                                             <match url="^(.*)/index\.html$" />
                                                             <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                                                            </rule>



			<rule name="WordPress: http://splashdev.azurewebsites.net" patternSyntax="Wildcard">
				<match url="*"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="index.php"/>
			</rule>
	</rules>
    </rewrite>
        <modules>
            <remove name="UrlAuthorization" />
            <remove name="FormsAuthentication" />
            <remove name="DefaultAuthentication" />
            <add name="DefaultAuthentication" type="System.Web.Security.DefaultAuthenticationModule" preCondition="" />
            <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" preCondition="" />
            <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" preCondition="" />
        </modules>
  </system.webServer>
    <location path="splashdev_energy">
    <system.webServer>
        <security>
            <authorization>
                <add accessType="Deny" users="?" />
            </authorization>
        </security>
    </system.webServer>
  </location>
  <location path="splashdev_leasing">
    <system.webServer>
        <security>
            <authorization>
                <add accessType="Deny" users="?" />
            </authorization>
        </security>
    </system.webServer>
  </location>
</configuration>
