<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
      <rule name="Redirect index.html">
                           <match url="^index\.html$" />
                           <action type="Redirect" url="/" redirectType="Permanent" />
                          </rule>
         <rule name="Redirect2 index.html">
                                                             <match url="^(.*)/index\.html$" />
                                                             <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                                                            </rule>



			<rule name="WordPress: http://splashdev.azurewebsites.net" patternSyntax="Wildcard">
				<match url="*"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="index.php"/>
			</rule>



	</rules>
    </rewrite>
      <location path="splashdev_energy">
        <system.webServer>
            <authentication mode="Forms">
                <credentials passwordFormat="Clear">
                    <user name="demosplash" password="Cow&Chicken" />
                </credentials>
            </authentication>
            <security>
                <authorization>
                    <add accessType="Deny" users="?" />
                </authorization>
            </security>
        </system.webServer>
    </location>
  </system.webServer>
</configuration>
