<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!-- added -->
  <configSections>
    <section name="basicAuth" type="Devbridge.BasicAuthentication.Configuration.BasicAuthenticationConfigurationSection" />
  </configSections>
<basicAuth>
  <credentials>
    <add username="USERNAME" password="PASSWORD"/>
  </credentials>
</basicAuth>
<!-- end added -->

  <system.webServer>

<!-- added -->
      <modules>
      <add name="MyBasicAuthenticationModule" type="Devbridge.BasicAuthentication.BasicAuthenticationModule"/>
    </modules>
<!-- end added -->

  </system.webServer>
</configuration>
